*/1	*	*	*	*	root	/root/cron1minute.sh
*/10	*	*	*	*	root	/root/cron10minute.sh

systemctl restart crond
systemctl restart synoscheduler

SynoCommunity
https://packages.synocommunity.com/
SynoCli File Tools
