NAME="X-NAS"
STATUS_URL="https://s.x.x/"
GETIP_URL="https://"
FREEMYIP=
#HDD1="/dev/sata1"
#HDD2="/dev/sata2"
SSD1="/dev/sata1"
SSD2="/dev/sata2"

#Airflow_Temperature SMART attribute, default 194
HDDTEMPATTR="190"

#Wear_Leveling_Count SMART attribute, default 177
#SSDWEARLCATTR="xxx"

IPERF3_SERVER="ping.online.net"
IPERF3_PORT_FILE="/tmp/iperf3_port"
SPEEDTEST_URL="https:///speedtest.php"
SENDMAIL="/volume1/scripts/send-mail.sh"
SENDMAIL_FROM="$NAME""@x.x"
SENDMAIL_TO="x@x.x"
SENDMAIL_URL="https://s.x.x/"
CURL_TIMEOUT=2
SLEEP=1
#UPS_battery_date="2022/08/12"
